# The node url is not required on your local machine.
# Set this to the url of your WunderGraph node on production.
# WG_NODE_URL="http://localhost:9991"

# This makes sure that the authentication redirect URI is correct
REDIRECT_URI_REGEX="{$WG_NODE_URL}*"

# Used to encrypt the session token
JWT_SECRET=1189C4736CFCA996AD157B2EE7D5BD4G

# WunderGraph security
# Should be 32 characters long
# SECURE_COOKIE_HASH_KEY=
# Should be 32 characters long
# SECURE_COOKIE_BLOCK_KEY=
# Should be 11 characters long
# CSRF_TOKEN_SECRET=

# GitHub App
GITHUB_APP_ID=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# For introspecting the GH API
GITHUB_TOKEN=
