@layer tokens {
    :where(:root, :host) {
  --op-dzOvWn: none;
  --op-drrWcF: cubic-bezier(0.4, 0, 0.2, 1);
  --op-hgfxJf: linear;
  --op-hCLxzh: cubic-bezier(0.4, 0, 1, 1);
  --op-byCBno: cubic-bezier(0, 0, 0.2, 1);
  --op-gSAVQW: cubic-bezier(0.4, 0, 0.2, 1);
  --op-fuVfvZ: 50ms;
  --op-fVBMec: 100ms;
  --op-mUhz: 150ms;
  --op-cWTXGg: 200ms;
  --op-cifMdM: 300ms;
  --op-goNNlj: 400ms;
  --op-bPXfWW: 500ms;
  --op-ixNmpi: 0.125rem;
  --op-bewZvn: 0.25rem;
  --op-kLOfAE: 0.375rem;
  --op-dxfumK: 0.5rem;
  --op-UXfgJ: 0.75rem;
  --op-bphCwb: 1rem;
  --op-eougbK: 1.5rem;
  --op-kkkBVq: 9999px;
  --op-dRPRGd: 100;
  --op-dooANa: 200;
  --op-fVSZDc: 300;
  --op-llFanx: 400;
  --op-leEsKL: 500;
  --op-hmvyHR: 600;
  --op-ghWdwL: 700;
  --op-janwPd: 800;
  --op-bvnjIx: 900;
  --op-ekeMrS: 1;
  --op-jyTpIu: 1.25;
  --op-ipEwfb: 1.375;
  --op-lomeBD: 1.5;
  --op-kwMYUX: 1.625;
  --op-dVGecO: 2;
  --op-dywXPJ: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --op-guQdxN: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --op-gxQaAd: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --op-jrseCf: -0.05em;
  --op-glKTKc: -0.025em;
  --op-knaPyh: 0em;
  --op-jwdARF: 0.025em;
  --op-eUSVTv: 0.05em;
  --op-lhSeXO: 0.1em;
  --op-kWjDjq: 0.5rem;
  --op-loLyxA: 0.75rem;
  --op-eRgJXV: 0.875rem;
  --op-daFrau: 1rem;
  --op-gKFLFQ: 1.125rem;
  --op-gFqSQX: 1.25rem;
  --op-dllMvh: 1.5rem;
  --op-jaXqkI: 1.875rem;
  --op-cLogVb: 2.25rem;
  --op-izMrAu: 3rem;
  --op-hdlyfR: 3.75rem;
  --op-bDBsww: 4.5rem;
  --op-fwhTbD: 6rem;
  --op-lkGdGW: 8rem;
  --op-bUWovs: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 1px 2px rgba(48, 49, 51, 0.1);
  --op-cDhNnp: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 2px 4px rgba(48, 49, 51, 0.1);
  --op-jMKUKK: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 4px 8px rgba(48, 49, 51, 0.1);
  --op-kNVcRA: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 8px 16px rgba(48, 49, 51, 0.1);
  --op-bnVgij: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 16px 24px rgba(48, 49, 51, 0.1);
  --op-IghlV: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --op-gmhFEB: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --op-bLinLB: currentColor;
  --op-qLIrn: #000;
  --op-RiClf: #fff;
  --op-edNtiq: rgb(0 0 0 / 0);
  --op-cQacUT: #fff1f2;
  --op-fFtaKH: #ffe4e6;
  --op-eUoFZM: #fecdd3;
  --op-bPMUxN: #fda4af;
  --op-bvZVli: #fb7185;
  --op-jGTTif: #f43f5e;
  --op-iVPyxk: #e11d48;
  --op-fRnMVl: #be123c;
  --op-hxzBoW: #9f1239;
  --op-esXPMX: #881337;
  --op-epiLsK: #4c0519;
  --op-hPYfGc: #fdf2f8;
  --op-ioAkJk: #fce7f3;
  --op-eyVWNz: #fbcfe8;
  --op-nXIqK: #f9a8d4;
  --op-hGgStN: #f472b6;
  --op-dviDWY: #ec4899;
  --op-kUZZAj: #db2777;
  --op-gKbLdu: #be185d;
  --op-UhnuV: #9d174d;
  --op-hYEIxc: #831843;
  --op-dPgAHx: #500724;
  --op-kpTESD: #fdf4ff;
  --op-jfJgr: #fae8ff;
  --op-gZeVto: #f5d0fe;
  --op-gfHpEZ: #f0abfc;
  --op-dSTUoK: #e879f9;
  --op-cZwoAv: #d946ef;
  --op-jPvANs: #c026d3;
  --op-iVXUZd: #a21caf;
  --op-hYKnEO: #86198f;
  --op-hfmHQz: #701a75;
  --op-cYPdae: #4a044e;
  --op-ksTgfC: #faf5ff;
  --op-iCdJRO: #f3e8ff;
  --op-dWAXWh: #e9d5ff;
  --op-jcWlLI: #d8b4fe;
  --op-eLlnzT: #c084fc;
  --op-jRGBpu: #a855f7;
  --op-fmdPtN: #9333ea;
  --op-kszdjo: #7e22ce;
  --op-kMigIv: #6b21a8;
  --op-eDhKZa: #581c87;
  --op-eadxYH: #3b0764;
  --op-elZfLV: #f5f3ff;
  --op-jcWAkV: #ede9fe;
  --op-gHfMHa: #ddd6fe;
  --op-jSzuYT: #c4b5fd;
  --op-jDVPUQ: #a78bfa;
  --op-bzTONN: #8b5cf6;
  --op-ktyKIO: #7c3aed;
  --op-cpwJBL: #6d28d9;
  --op-foWeJc: #5b21b6;
  --op-iApNaV: #4c1d95;
  --op-cfTfyk: #2e1065;
  --op-kbclAu: #eef2ff;
  --op-gAzkHe: #e0e7ff;
  --op-gRHwoJ: #c7d2fe;
  --op-iYtjYI: #a5b4fc;
  --op-jCTsMf: #818cf8;
  --op-ujwXi: #6366f1;
  --op-LrIEN: #4f46e5;
  --op-cSdwoM: #4338ca;
  --op-irwviH: #3730a3;
  --op-kyiiSG: #312e81;
  --op-hgSANP: #1e1b4b;
  --op-glmLoi: #eff6ff;
  --op-bYrJpO: #dbeafe;
  --op-hoTvPd: #bfdbfe;
  --op-bMEoOM: #93c5fd;
  --op-hIEEwj: #60a5fa;
  --op-cgpxvS: #3b82f6;
  --op-hwRjVh: #2563eb;
  --op-bUCcUQ: #1d4ed8;
  --op-golFsv: #1e40af;
  --op-LWyse: #1e3a8a;
  --op-eJQij: #172554;
  --op-dosFxZ: #f0f9ff;
  --op-bMxFwZ: #e0f2fe;
  --op-vPNZS: #bae6fd;
  --op-bdmqGz: #7dd3fc;
  --op-bduzvQ: #38bdf8;
  --op-bKRccx: #0ea5e9;
  --op-ujkFq: #0284c7;
  --op-bbFNlX: #0369a1;
  --op-RWYCI: #075985;
  --op-bztBjp: #0c4a6e;
  --op-iNVpnc: #082f49;
  --op-dyXAhp: #ecfeff;
  --op-eeWoox: #cffafe;
  --op-fnHbwe: #a5f3fc;
  --op-cLmYYf: #67e8f9;
  --op-bpLSHw: #22d3ee;
  --op-kcNzIt: #06b6d4;
  --op-llymQa: #0891b2;
  --op-iJeksb: #0e7490;
  --op-jTKpqw: #155e75;
  --op-hrqmSx: #164e63;
  --op-bcqAnE: #083344;
  --op-jqQOis: #f0fdfa;
  --op-hsCMHs: #ccfbf1;
  --op-jcJhxj: #99f6e4;
  --op-czjDVi: #5eead4;
  --op-kfgCt: #2dd4bf;
  --op-eWbmzo: #14b8a6;
  --op-gGhHpf: #0d9488;
  --op-cIdNe: #0f766e;
  --op-catTvB: #115e59;
  --op-gMpZsw: #134e4a;
  --op-bnTNlF: #042f2e;
  --op-jVPfey: #ecfdf5;
  --op-gSyYHy: #d1fae5;
  --op-dOyJRJ: #a7f3d0;
  --op-jOMcLk: #6ee7b7;
  --op-bLsBkr: #34d399;
  --op-hLFUdS: #10b981;
  --op-eHFFod: #059669;
  --op-kHSYhE: #047857;
  --op-iuBcgT: #065f46;
  --op-dfsLBy: #064e3b;
  --op-jJEloz: #022c22;
  --op-hXozqf: #f0fdf4;
  --op-iDDIAz: #dcfce7;
  --op-khfuXU: #bbf7d0;
  --op-hypAVx: #86efac;
  --op-wGfza: #4ade80;
  --op-jdlUVz: #22c55e;
  --op-kGNHsU: #16a34a;
  --op-hXXNqx: #15803d;
  --op-bAQeLK: #166534;
  --op-khvUij: #14532d;
  --op-cbdKOS: #052e16;
  --op-dhEleJ: #f7fee7;
  --op-gFFbyh: #ecfccb;
  --op-fjFsBy: #d9f99d;
  --op-cfdGZz: #bef264;
  --op-bxLPEk: #a3e635;
  --op-jIFNBh: #84cc16;
  --op-imGeEy: #65a30d;
  --op-fietcz: #4d7c0f;
  --op-crovfQ: #3f6212;
  --op-kCitcN: #365314;
  --op-gEQkrg: #1a2e05;
  --op-cLFWMs: #fefce8;
  --op-kxGpio: #fef9c3;
  --op-cbZZGT: #fef08a;
  --op-fwcFBW: #fde047;
  --op-hUTJsd: #facc15;
  --op-loWpng: #eab308;
  --op-cTpZLL: #ca8a04;
  --op-gnsFGO: #a16207;
  --op-ByZWN: #854d0e;
  --op-dVBFRQ: #713f12;
  --op-iLqZUR: #422006;
  --op-kVxzTd: #fffbeb;
  --op-jZPQXp: #fef3c7;
  --op-hCWpXC: #fde68a;
  --op-bCKrrD: #fcd34d;
  --op-wuHbc: #fbbf24;
  --op-fLErTZ: #f59e0b;
  --op-doKQUm: #d97706;
  --op-iDUBNj: #b45309;
  --op-iOnUJo: #92400e;
  --op-cObWdp: #78350f;
  --op-frxesg: #451a03;
  --op-NQTLQ: #fff7ed;
  --op-JsfmQ: #ffedd5;
  --op-gBjjlD: #fed7aa;
  --op-QMCLK: #fdba74;
  --op-ijESlZ: #fb923c;
  --op-czilMg: #f97316;
  --op-iqZpKT: #ea580c;
  --op-cGCJla: #c2410c;
  --op-dUhLNN: #9a3412;
  --op-jzgOMQ: #7c2d12;
  --op-igBpVl: #431407;
  --op-bINrJX: #fef2f2;
  --op-fKgVwH: #fee2e2;
  --op-bLdQLg: #fecaca;
  --op-fMUQaR: #fca5a5;
  --op-hwCQam: #f87171;
  --op-iYfRb: #ef4444;
  --op-hzqKEw: #dc2626;
  --op-lMavl: #b91c1c;
  --op-bLDcWa: #991b1b;
  --op-fNuclL: #7f1d1d;
  --op-jHDsLG: #450a0a;
  --op-kltIHN: #fafafa;
  --op-hzpwrB: #f5f5f5;
  --op-lbfZji: #e5e5e5;
  --op-fcfsVb: #d4d4d4;
  --op-kPKNfw: #a3a3a3;
  --op-eQKgRp: #737373;
  --op-isAJIW: #525252;
  --op-ctAduP: #404040;
  --op-bqFRBA: #262626;
  --op-gHaUMp: #171717;
  --op-fhFoEQ: #0a0a0a;
  --op-NNaBX: #fafaf9;
  --op-juQpUX: #f5f5f4;
  --op-jjsRgY: #e7e5e4;
  --op-hxarzx: #d6d3d1;
  --op-dmyqvy: #a8a29e;
  --op-bAfQNX: #78716c;
  --op-boIrZY: #57534e;
  --op-kRLBRt: #44403c;
  --op-iKBpmW: #292524;
  --op-gYiPFv: #1c1917;
  --op-kshUcS: #0c0a09;
  --op-dhFdXS: #fafafa;
  --op-dGhjba: #f4f4f5;
  --op-efoVXJ: #e4e4e7;
  --op-ljOqfc: #d4d4d8;
  --op-cXLRGr: #a1a1aa;
  --op-kcllNK: #71717a;
  --op-kBsYKt: #52525b;
  --op-gqwJsQ: #3f3f46;
  --op-ylgyn: #27272a;
  --op-hCKAFG: #18181b;
  --op-dtmsQb: #09090b;
  --op-dcmCJN: #f9fafb;
  --op-ePJGsV: #f3f4f6;
  --op-dnVpUm: #e5e7eb;
  --op-bMJKSL: #d1d5db;
  --op-jSiOQk: #9ca3af;
  --op-iqXjOJ: #6b7280;
  --op-gPiTqa: #4b5563;
  --op-fnXooz: #374151;
  --op-fKIyfA: #1f2937;
  --op-ejwTdZ: #111827;
  --op-jympbw: #030712;
  --op-kcXOlL: #f8fafc;
  --op-kbRDfH: #f1f5f9;
  --op-ivwbEU: #e2e8f0;
  --op-dpNMHJ: #cbd5e1;
  --op-dtmoEy: #94a3b8;
  --op-jCZJgj: #64748b;
  --op-hWEhFw: #475569;
  --op-cQVSIl: #334155;
  --op-hVLXiS: #1e293b;
  --op-cQdIlH: #0f172a;
  --op-iFDdka: #020617;
  --op-aZLOC: 4px;
  --op-jDYzax: 8px;
  --op-kMMDaR: 12px;
  --op-dyIDQb: 16px;
  --op-TtVDs: 24px;
  --op-btncja: 40px;
  --op-esAhmv: 64px;
  --op-fcTUxn: 0rem;
  --op-dacYEG: 0.25rem;
  --op-ebuyxV: 0.5rem;
  --op-bYDCFo: 0.75rem;
  --op-hIimNX: 1rem;
  --op-fFrqVq: 1.25rem;
  --op-gGIQOF: 1.5rem;
  --op-eDRUVY: 1.75rem;
  --op-flZesP: 2rem;
  --op-djiiAi: 2.25rem;
  --op-ieMJEa: 2.5rem;
  --op-cBFxYr: 2.75rem;
  --op-uyqLg: 3rem;
  --op-hXmVPi: 3.5rem;
  --op-mYCWo: 4rem;
  --op-jgejxp: 5rem;
  --op-iYEvIx: 6rem;
  --op-dzpWeZ: 7rem;
  --op-fifqnK: 8rem;
  --op-faFCyS: 9rem;
  --op-bxwoov: 10rem;
  --op-huPzrf: 11rem;
  --op-hgdKvb: 12rem;
  --op-cZMJbQ: 13rem;
  --op-iXfUeA: 14rem;
  --op-vWSpd: 15rem;
  --op-gtqdrN: 16rem;
  --op-hNtIEu: 18rem;
  --op-kqIPsj: 20rem;
  --op-wdMRQ: 24rem;
  --op-gEfgCY: 0.125rem;
  --op-jJIQbV: 0.375rem;
  --op-cqwGG: 0.625rem;
  --op-dhUgfD: 0.875rem;
  --op-kTdGYg: 0rem;
  --op-cCUBeV: 0.25rem;
  --op-gsUKim: 0.5rem;
  --op-jshnNX: 0.75rem;
  --op-juMtMc: 1rem;
  --op-beDnSR: 1.25rem;
  --op-eUDwWi: 1.5rem;
  --op-hTQaBT: 1.75rem;
  --op-cAmzCM: 2rem;
  --op-fzzdix: 2.25rem;
  --op-dDnfaV: 2.5rem;
  --op-cpjPHA: 2.75rem;
  --op-ckODEv: 3rem;
  --op-hTmzdp: 3.5rem;
  --op-gANXGP: 4rem;
  --op-htnoem: 5rem;
  --op-tQYHK: 6rem;
  --op-kcGldO: 7rem;
  --op-gMkTEx: 8rem;
  --op-lcknGR: 9rem;
  --op-kveXIc: 10rem;
  --op-gsriJI: 11rem;
  --op-bPcliI: 12rem;
  --op-Mxqsr: 13rem;
  --op-hZfkST: 14rem;
  --op-fUWaSi: 15rem;
  --op-bSilTO: 16rem;
  --op-fnTGst: 18rem;
  --op-dAFdyM: 20rem;
  --op-jxszKr: 24rem;
  --op-hghuKL: 0.125rem;
  --op-drtIxO: 0.375rem;
  --op-siblR: 0.625rem;
  --op-hSPYxQ: 0.875rem;
  --op-izvCpj: 20rem;
  --op-aTIGG: 24rem;
  --op-kMQJUV: 28rem;
  --op-dyNKmL: 32rem;
  --op-ToPgI: 36rem;
  --op-btoFLe: 42rem;
  --op-esBjqP: 48rem;
  --op-hrOPNc: 56rem;
  --op-krbtsN: 64rem;
  --op-cRFSXi: 72rem;
  --op-fQSwCT: 80rem;
  --op-iQceEA: 90rem;
  --op-jAesVz: 65ch;
  --op-khWApH: 100%;
  --op-eOXrSu: min-content;
  --op-jNBRbM: max-content;
  --op-UhpHH: fit-content;
  --op-eomHOU: 640px;
  --op-iujnmj: 768px;
  --op-gThSgZ: 1024px;
  --op-cssArG: 1280px;
  --op-jESPPc: 1536px;
  --op-bJeTGz: spin 1s linear infinite;
  --op-cxTetH: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --op-jjLJjo: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --op-eUTuJH: bounce 1s infinite;
  --op-klLGSj: 20000;
  --op-beAiOT: 20001;
  --op-jpbKqG: 20002;
  --op-ikokJA: 640px;
  --op-kSvAmr: 768px;
  --op-uwdhN: 1024px;
  --op-eyfDzy: 1280px;
  --op-dgHGKE: 1536px;
  --op-oFQWH: #111827;
  --op-MHJMY: #374151;
  --op-fIThQp: #6b7280;
  --op-feruSJ: #9ca3af;
  --op-fSOHeP: #4b5563;
  --op-fyFByp: white;
  --op-jyeInc: var(--op-gXthDn);
  --op-SDWxV: #f9fafb;
  --op-cwRYAB: #e5e7eb;
  --op-iqsEix: #f3f4f6;
  --op-dnAAhs: #f472b6;
  --op-cYYxav: #ec4899;
  --op-eLKMga: #f472b6;
  --op-fALqDO: #fdf2f8;
  --op-jYZtFW: #e5e7eb;
  --op-iLXFSx: #d1d5db;
  --op-bgowFI: var(--op-bgowFI);
  --op-iSScQY: var(--op-iSScQY);
  --op-bdPmBD: var(--op-bdPmBD);
  --op-EuecW: var(--op-EuecW);
  --op-dIdJaV: var(--op-dIdJaV);
  --op-iOGEjQ: var(--op-iOGEjQ);
  --op-ZDNUv: var(--op-ZDNUv);
  --op-AiFvO: var(--op-AiFvO);
  --op-iCIPjV: var(--op-iCIPjV);
  --op-ctQaTU: var(--op-ctQaTU);
  --op-eHAyIp: var(--op-eHAyIp);
  --op-bDjYrS: var(--op-bDjYrS);
  --op-iFZgOB: var(--op-iFZgOB);
  --op-egAmRk: var(--op-egAmRk);
  --op-gXkkLU: var(--op-gXkkLU);
  --op-hSRPmi: var(--op-hSRPmi);
  --op-jsIbit: var(--op-jsIbit);
  --op-kqrYmo: var(--op-kqrYmo)
}

.dark {
  --op-oFQWH: white;
  --op-MHJMY: #e5e7eb;
  --op-fIThQp: #9ca3af;
  --op-feruSJ: #6b7280;
  --op-fSOHeP: #9ca3af;
  --op-fyFByp: #000;
  --op-jyeInc: #111827;
  --op-SDWxV: #4b5563;
  --op-cwRYAB: #9ca3af;
  --op-iqsEix: #6b7280;
  --op-dnAAhs: #f472b6;
  --op-cYYxav: #ec4899;
  --op-eLKMga: #f9a8d4;
  --op-fALqDO: #831843;
  --op-jYZtFW: #9ca3af;
  --op-iLXFSx: #d1d5db;
  --op-bUWovs: 0px 0px 1px #0D0D0D, 0px 1px 2px rgba(13, 13, 13, 0.9);
  --op-cDhNnp: 0px 0px 1px #0D0D0D, 0px 2px 4px rgba(13, 13, 13, 0.9);
  --op-jMKUKK: 0px 0px 1px #0D0D0D, 0px 4px 8px rgba(13, 13, 13, 0.9);
  --op-kNVcRA: 0px 0px 1px #0D0D0D, 0px 8px 16px rgba(13, 13, 13, 0.9);
  --op-bnVgij: 0px 0px 1px #0D0D0D, 0px 16px 24px rgba(13, 13, 13, 0.9)
}
  }
  