@layer tokens {
    :where(:root, :host) {
  --op-borders-none: none;
  --op-easings-default: cubic-bezier(0.4, 0, 0.2, 1);
  --op-easings-linear: linear;
  --op-easings-in: cubic-bezier(0.4, 0, 1, 1);
  --op-easings-out: cubic-bezier(0, 0, 0.2, 1);
  --op-easings-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --op-durations-fastest: 50ms;
  --op-durations-faster: 100ms;
  --op-durations-fast: 150ms;
  --op-durations-normal: 200ms;
  --op-durations-slow: 300ms;
  --op-durations-slower: 400ms;
  --op-durations-slowest: 500ms;
  --op-radii-xs: 0.125rem;
  --op-radii-sm: 0.25rem;
  --op-radii-md: 0.375rem;
  --op-radii-lg: 0.5rem;
  --op-radii-xl: 0.75rem;
  --op-radii-2xl: 1rem;
  --op-radii-3xl: 1.5rem;
  --op-radii-full: 9999px;
  --op-font-weights-thin: 100;
  --op-font-weights-extralight: 200;
  --op-font-weights-light: 300;
  --op-font-weights-normal: 400;
  --op-font-weights-medium: 500;
  --op-font-weights-semibold: 600;
  --op-font-weights-bold: 700;
  --op-font-weights-extrabold: 800;
  --op-font-weights-black: 900;
  --op-line-heights-none: 1;
  --op-line-heights-tight: 1.25;
  --op-line-heights-snug: 1.375;
  --op-line-heights-normal: 1.5;
  --op-line-heights-relaxed: 1.625;
  --op-line-heights-loose: 2;
  --op-fonts-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --op-fonts-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --op-fonts-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --op-letter-spacings-tighter: -0.05em;
  --op-letter-spacings-tight: -0.025em;
  --op-letter-spacings-normal: 0em;
  --op-letter-spacings-wide: 0.025em;
  --op-letter-spacings-wider: 0.05em;
  --op-letter-spacings-widest: 0.1em;
  --op-font-sizes-2xs: 0.5rem;
  --op-font-sizes-xs: 0.75rem;
  --op-font-sizes-sm: 0.875rem;
  --op-font-sizes-md: 1rem;
  --op-font-sizes-lg: 1.125rem;
  --op-font-sizes-xl: 1.25rem;
  --op-font-sizes-2xl: 1.5rem;
  --op-font-sizes-3xl: 1.875rem;
  --op-font-sizes-4xl: 2.25rem;
  --op-font-sizes-5xl: 3rem;
  --op-font-sizes-6xl: 3.75rem;
  --op-font-sizes-7xl: 4.5rem;
  --op-font-sizes-8xl: 6rem;
  --op-font-sizes-9xl: 8rem;
  --op-shadows-xs: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 1px 2px rgba(48, 49, 51, 0.1);
  --op-shadows-sm: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 2px 4px rgba(48, 49, 51, 0.1);
  --op-shadows-md: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 4px 8px rgba(48, 49, 51, 0.1);
  --op-shadows-lg: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 8px 16px rgba(48, 49, 51, 0.1);
  --op-shadows-xl: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 16px 24px rgba(48, 49, 51, 0.1);
  --op-shadows-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --op-shadows-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --op-colors-current: currentColor;
  --op-colors-black: #000;
  --op-colors-white: #fff;
  --op-colors-transparent: rgb(0 0 0 / 0);
  --op-colors-rose-50: #fff1f2;
  --op-colors-rose-100: #ffe4e6;
  --op-colors-rose-200: #fecdd3;
  --op-colors-rose-300: #fda4af;
  --op-colors-rose-400: #fb7185;
  --op-colors-rose-500: #f43f5e;
  --op-colors-rose-600: #e11d48;
  --op-colors-rose-700: #be123c;
  --op-colors-rose-800: #9f1239;
  --op-colors-rose-900: #881337;
  --op-colors-pink-50: #fdf2f8;
  --op-colors-pink-100: #fce7f3;
  --op-colors-pink-200: #fbcfe8;
  --op-colors-pink-300: #f9a8d4;
  --op-colors-pink-400: #f472b6;
  --op-colors-pink-500: #ec4899;
  --op-colors-pink-600: #db2777;
  --op-colors-pink-700: #be185d;
  --op-colors-pink-800: #9d174d;
  --op-colors-pink-900: #831843;
  --op-colors-fuchsia-50: #fdf4ff;
  --op-colors-fuchsia-100: #fae8ff;
  --op-colors-fuchsia-200: #f5d0fe;
  --op-colors-fuchsia-300: #f0abfc;
  --op-colors-fuchsia-400: #e879f9;
  --op-colors-fuchsia-500: #d946ef;
  --op-colors-fuchsia-600: #c026d3;
  --op-colors-fuchsia-700: #a21caf;
  --op-colors-fuchsia-800: #86198f;
  --op-colors-fuchsia-900: #701a75;
  --op-colors-purple-50: #f5f3ff;
  --op-colors-purple-100: #ede9fe;
  --op-colors-purple-200: #ddd6fe;
  --op-colors-purple-300: #c4b5fd;
  --op-colors-purple-400: #a78bfa;
  --op-colors-purple-500: #8b5cf6;
  --op-colors-purple-600: #7c3aed;
  --op-colors-purple-700: #6d28d9;
  --op-colors-purple-800: #5b21b6;
  --op-colors-purple-900: #4c1d95;
  --op-colors-indigo-50: #eef2ff;
  --op-colors-indigo-100: #e0e7ff;
  --op-colors-indigo-200: #c7d2fe;
  --op-colors-indigo-300: #a5b4fc;
  --op-colors-indigo-400: #818cf8;
  --op-colors-indigo-500: #6366f1;
  --op-colors-indigo-600: #4f46e5;
  --op-colors-indigo-700: #4338ca;
  --op-colors-indigo-800: #3730a3;
  --op-colors-indigo-900: #312e81;
  --op-colors-blue-50: #eff6ff;
  --op-colors-blue-100: #dbeafe;
  --op-colors-blue-200: #bfdbfe;
  --op-colors-blue-300: #93c5fd;
  --op-colors-blue-400: #60a5fa;
  --op-colors-blue-500: #3b82f6;
  --op-colors-blue-600: #2563eb;
  --op-colors-blue-700: #1d4ed8;
  --op-colors-blue-800: #1e40af;
  --op-colors-blue-900: #1e3a8a;
  --op-colors-sky-50: #f0f9ff;
  --op-colors-sky-100: #e0f2fe;
  --op-colors-sky-200: #bae6fd;
  --op-colors-sky-300: #7dd3fc;
  --op-colors-sky-400: #38bdf8;
  --op-colors-sky-500: #0ea5e9;
  --op-colors-sky-600: #0284c7;
  --op-colors-sky-700: #0369a1;
  --op-colors-sky-800: #075985;
  --op-colors-sky-900: #0c4a6e;
  --op-colors-cyan-50: #ecfeff;
  --op-colors-cyan-100: #cffafe;
  --op-colors-cyan-200: #a5f3fc;
  --op-colors-cyan-300: #67e8f9;
  --op-colors-cyan-400: #22d3ee;
  --op-colors-cyan-500: #06b6d4;
  --op-colors-cyan-600: #0891b2;
  --op-colors-cyan-700: #0e7490;
  --op-colors-cyan-800: #155e75;
  --op-colors-cyan-900: #164e63;
  --op-colors-teal-50: #f0fdfa;
  --op-colors-teal-100: #ccfbf1;
  --op-colors-teal-200: #99f6e4;
  --op-colors-teal-300: #5eead4;
  --op-colors-teal-400: #2dd4bf;
  --op-colors-teal-500: #14b8a6;
  --op-colors-teal-600: #0d9488;
  --op-colors-teal-700: #0f766e;
  --op-colors-teal-800: #115e59;
  --op-colors-teal-900: #134e4a;
  --op-colors-green-50: #ecfdf5;
  --op-colors-green-100: #d1fae5;
  --op-colors-green-200: #a7f3d0;
  --op-colors-green-300: #6ee7b7;
  --op-colors-green-400: #34d399;
  --op-colors-green-500: #10b981;
  --op-colors-green-600: #059669;
  --op-colors-green-700: #047857;
  --op-colors-green-800: #065f46;
  --op-colors-green-900: #064e3b;
  --op-colors-lime-50: #f7fee7;
  --op-colors-lime-100: #ecfccb;
  --op-colors-lime-200: #d9f99d;
  --op-colors-lime-300: #bef264;
  --op-colors-lime-400: #a3e635;
  --op-colors-lime-500: #84cc16;
  --op-colors-lime-600: #65a30d;
  --op-colors-lime-700: #4d7c0f;
  --op-colors-lime-800: #3f6212;
  --op-colors-lime-900: #365314;
  --op-colors-yellow-50: #fffbeb;
  --op-colors-yellow-100: #fef3c7;
  --op-colors-yellow-200: #fde68a;
  --op-colors-yellow-300: #fcd34d;
  --op-colors-yellow-400: #fbbf24;
  --op-colors-yellow-500: #f59e0b;
  --op-colors-yellow-600: #d97706;
  --op-colors-yellow-700: #b45309;
  --op-colors-yellow-800: #92400e;
  --op-colors-yellow-900: #78350f;
  --op-colors-orange-50: #fff7ed;
  --op-colors-orange-100: #ffedd5;
  --op-colors-orange-200: #fed7aa;
  --op-colors-orange-300: #fdba74;
  --op-colors-orange-400: #fb923c;
  --op-colors-orange-500: #f97316;
  --op-colors-orange-600: #ea580c;
  --op-colors-orange-700: #c2410c;
  --op-colors-orange-800: #9a3412;
  --op-colors-orange-900: #7c2d12;
  --op-colors-red-50: #fef2f2;
  --op-colors-red-100: #fee2e2;
  --op-colors-red-200: #fecaca;
  --op-colors-red-300: #fca5a5;
  --op-colors-red-400: #f87171;
  --op-colors-red-500: #ef4444;
  --op-colors-red-600: #dc2626;
  --op-colors-red-700: #b91c1c;
  --op-colors-red-800: #991b1b;
  --op-colors-red-900: #7f1d1d;
  --op-colors-gray-50: #f9fafb;
  --op-colors-gray-100: #f3f4f6;
  --op-colors-gray-200: #e5e7eb;
  --op-colors-gray-300: #d1d5db;
  --op-colors-gray-400: #9ca3af;
  --op-colors-gray-500: #6b7280;
  --op-colors-gray-600: #4b5563;
  --op-colors-gray-700: #374151;
  --op-colors-gray-800: #1f2937;
  --op-colors-gray-900: #111827;
  --op-colors-slate-50: #F8FAFC;
  --op-colors-slate-100: #F1F5F9;
  --op-colors-slate-200: #E2E8F0;
  --op-colors-slate-300: #CBD5E1;
  --op-colors-slate-400: #94A3B8;
  --op-colors-slate-500: #64748B;
  --op-colors-slate-600: #475569;
  --op-colors-slate-700: #334155;
  --op-colors-slate-800: #1E293B;
  --op-colors-slate-900: #0F172A;
  --op-blurs-sm: 4px;
  --op-blurs-base: 8px;
  --op-blurs-md: 12px;
  --op-blurs-lg: 16px;
  --op-blurs-xl: 24px;
  --op-blurs-2xl: 40px;
  --op-blurs-3xl: 64px;
  --op-spacing-0: 0rem;
  --op-spacing-1: 0.25rem;
  --op-spacing-2: 0.5rem;
  --op-spacing-3: 0.75rem;
  --op-spacing-4: 1rem;
  --op-spacing-5: 1.25rem;
  --op-spacing-6: 1.5rem;
  --op-spacing-7: 1.75rem;
  --op-spacing-8: 2rem;
  --op-spacing-9: 2.25rem;
  --op-spacing-10: 2.5rem;
  --op-spacing-11: 2.75rem;
  --op-spacing-12: 3rem;
  --op-spacing-14: 3.5rem;
  --op-spacing-16: 4rem;
  --op-spacing-20: 5rem;
  --op-spacing-24: 6rem;
  --op-spacing-28: 7rem;
  --op-spacing-32: 8rem;
  --op-spacing-36: 9rem;
  --op-spacing-40: 10rem;
  --op-spacing-44: 11rem;
  --op-spacing-48: 12rem;
  --op-spacing-52: 13rem;
  --op-spacing-56: 14rem;
  --op-spacing-60: 15rem;
  --op-spacing-64: 16rem;
  --op-spacing-72: 18rem;
  --op-spacing-80: 20rem;
  --op-spacing-96: 24rem;
  --op-spacing-0\.5: 0.125rem;
  --op-spacing-1\.5: 0.375rem;
  --op-spacing-2\.5: 0.625rem;
  --op-spacing-3\.5: 0.875rem;
  --op-sizes-0: 0rem;
  --op-sizes-1: 0.25rem;
  --op-sizes-2: 0.5rem;
  --op-sizes-3: 0.75rem;
  --op-sizes-4: 1rem;
  --op-sizes-5: 1.25rem;
  --op-sizes-6: 1.5rem;
  --op-sizes-7: 1.75rem;
  --op-sizes-8: 2rem;
  --op-sizes-9: 2.25rem;
  --op-sizes-10: 2.5rem;
  --op-sizes-11: 2.75rem;
  --op-sizes-12: 3rem;
  --op-sizes-14: 3.5rem;
  --op-sizes-16: 4rem;
  --op-sizes-20: 5rem;
  --op-sizes-24: 6rem;
  --op-sizes-28: 7rem;
  --op-sizes-32: 8rem;
  --op-sizes-36: 9rem;
  --op-sizes-40: 10rem;
  --op-sizes-44: 11rem;
  --op-sizes-48: 12rem;
  --op-sizes-52: 13rem;
  --op-sizes-56: 14rem;
  --op-sizes-60: 15rem;
  --op-sizes-64: 16rem;
  --op-sizes-72: 18rem;
  --op-sizes-80: 20rem;
  --op-sizes-96: 24rem;
  --op-sizes-0\.5: 0.125rem;
  --op-sizes-1\.5: 0.375rem;
  --op-sizes-2\.5: 0.625rem;
  --op-sizes-3\.5: 0.875rem;
  --op-sizes-xs: 20rem;
  --op-sizes-sm: 24rem;
  --op-sizes-md: 28rem;
  --op-sizes-lg: 32rem;
  --op-sizes-xl: 36rem;
  --op-sizes-2xl: 42rem;
  --op-sizes-3xl: 48rem;
  --op-sizes-4xl: 56rem;
  --op-sizes-5xl: 64rem;
  --op-sizes-6xl: 72rem;
  --op-sizes-7xl: 80rem;
  --op-sizes-8xl: 90rem;
  --op-sizes-prose: 65ch;
  --op-sizes-full: 100%;
  --op-sizes-min: min-content;
  --op-sizes-max: max-content;
  --op-sizes-fit: fit-content;
  --op-sizes-breakpoint-sm: 640px;
  --op-sizes-breakpoint-md: 768px;
  --op-sizes-breakpoint-lg: 1024px;
  --op-sizes-breakpoint-xl: 1280px;
  --op-sizes-breakpoint-2xl: 1536px;
  --op-animations-spin: spin 1s linear infinite;
  --op-animations-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --op-animations-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --op-animations-bounce: bounce 1s infinite;
  --op-breakpoints-sm: 640px;
  --op-breakpoints-md: 768px;
  --op-breakpoints-lg: 1024px;
  --op-breakpoints-xl: 1280px;
  --op-breakpoints-2xl: 1536px;
  --op-colors-fg-default: #111827;
  --op-colors-fg-emphasized: #374151;
  --op-colors-fg-muted: #6b7280;
  --op-colors-fg-subtle: #9ca3af;
  --op-colors-fg-placeholder: #4b5563;
  --op-colors-fg-inverted-default: white;
  --op-colors-bg-canvas: var(--op-colors-gray-25);
  --op-colors-bg-surface: #f9fafb;
  --op-colors-bg-muted: #e5e7eb;
  --op-colors-bg-subtle: #f3f4f6;
  --op-colors-accent-default: #fb923c;
  --op-colors-accent-emphasized: #f97316;
  --op-colors-accent-muted: #fb923c;
  --op-colors-accent-subtle: #fff7ed;
  --op-colors-border-default: #e5e7eb;
  --op-colors-border-emphasized: #d1d5db;
  --op-colors-color-palette-50: var(--op-colors-color-palette-50);
  --op-colors-color-palette-100: var(--op-colors-color-palette-100);
  --op-colors-color-palette-200: var(--op-colors-color-palette-200);
  --op-colors-color-palette-300: var(--op-colors-color-palette-300);
  --op-colors-color-palette-400: var(--op-colors-color-palette-400);
  --op-colors-color-palette-500: var(--op-colors-color-palette-500);
  --op-colors-color-palette-600: var(--op-colors-color-palette-600);
  --op-colors-color-palette-700: var(--op-colors-color-palette-700);
  --op-colors-color-palette-800: var(--op-colors-color-palette-800);
  --op-colors-color-palette-900: var(--op-colors-color-palette-900);
  --op-colors-color-palette-default: var(--op-colors-color-palette-default);
  --op-colors-color-palette-emphasized: var(--op-colors-color-palette-emphasized);
  --op-colors-color-palette-muted: var(--op-colors-color-palette-muted);
  --op-colors-color-palette-subtle: var(--op-colors-color-palette-subtle);
  --op-colors-color-palette-placeholder: var(--op-colors-color-palette-placeholder);
  --op-colors-color-palette-canvas: var(--op-colors-color-palette-canvas);
  --op-colors-color-palette-surface: var(--op-colors-color-palette-surface)
}

.dark {
  --op-colors-fg-default: white;
  --op-colors-fg-emphasized: #e5e7eb;
  --op-colors-fg-muted: #9ca3af;
  --op-colors-fg-subtle: #6b7280;
  --op-colors-fg-placeholder: #9ca3af;
  --op-colors-fg-inverted-default: #000;
  --op-colors-bg-canvas: #111827;
  --op-colors-bg-surface: #4b5563;
  --op-colors-bg-muted: #9ca3af;
  --op-colors-bg-subtle: #6b7280;
  --op-colors-accent-default: #fb923c;
  --op-colors-accent-emphasized: #f97316;
  --op-colors-accent-muted: #fdba74;
  --op-colors-accent-subtle: #7c2d12;
  --op-colors-border-default: #9ca3af;
  --op-colors-border-emphasized: #d1d5db;
  --op-shadows-xs: 0px 0px 1px #0D0D0D, 0px 1px 2px rgba(13, 13, 13, 0.9);
  --op-shadows-sm: 0px 0px 1px #0D0D0D, 0px 2px 4px rgba(13, 13, 13, 0.9);
  --op-shadows-md: 0px 0px 1px #0D0D0D, 0px 4px 8px rgba(13, 13, 13, 0.9);
  --op-shadows-lg: 0px 0px 1px #0D0D0D, 0px 8px 16px rgba(13, 13, 13, 0.9);
  --op-shadows-xl: 0px 0px 1px #0D0D0D, 0px 16px 24px rgba(13, 13, 13, 0.9)
}
  }
  