@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  position: absolute;
  bottom: 40px;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
