---
import ContentSection from "~/components/content-section.astro";
---
<ContentSection title="Deploy" id="deploy">
  <Fragment slot="lead">
    Host your own Open Previews backend on <span class="text-primary">WunderGraph Cloud</span>.
  </Fragment>
  <p class="text-md text-offset mb-4">
    Please head to <a href="https://github.com/wundergraph/open-previews/blob/main/DEPLOYMENT.md" class="decoration-primary underline" rel="noopener noreferrer">the Github repository</a> to read more about deploying Open Previews.
  </p>
</ContentSection>