---
import { Icon } from "astro-icon";
import Starfield from "~/components/starfield.astro";
import GitHubCorner from "./github-corner.astro";
import EarlyAccess from "./early-access.jsx";
---

<section class="relative h-full bg-black">
  <Starfield />
  <GitHubCorner />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
  </div>
  <div class="relative flex flex-col space-y-20 justify-center h-full place-items-center">
    <h2
      class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end   max-w-7xl"
    >
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-8xl"
      >
        Preview <span class="relative text-white"><span class="border-2 border-pink-500/40 bg-pink-500/20 absolute inset-0" /> Comments</span>,
        <br /> that run anywhere.
      </div>
    </h2>
    <p class="text-white text-center   max-w-3xl">
      Add commenting functionality to your staging and preview environments,<br /> no matter where they are hosted. Easy to set up and fully open source.
    </p>
    <div>
      <EarlyAccess client:load />
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @media (prefers-reduced-motion: reduce) {
    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
